{% load static %}<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Google Chart  -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
      drawMeanValueChart();
      drawIntensityChart();
    }

    function drawMeanValueChart() {
      // Django からカンマ区切り文字列データを受け取る
      var jsXData = '{{ uploadfile.xdata }}';
      var jsYData = '{{ uploadfile.ydata }}';
      var jsHData = '{{ uploadfile.hdata }}';
      var jsHead = '{{ uploadfile.xlabel }},{{ uploadfile.ylabel }},{{ uploadfile.hlabel }}';

      // カンマ区切りの文字列を配列に格納
      var head = jsHead.split(',');
      var xvals = jsXData.split(',').map(str => parseInt(str, 10));
      var yvals = jsYData.split(',').map(str => parseFloat(str));
      var hvals = jsHData.split(',').map(str => parseFloat(str));
      var i;
      // データを作る
      var mydata = [head];
      for (i = 0; i < yvals.length; i++) {
        mydata.push([xvals[i], yvals[i], hvals[i]]);
      }

      // Create the data table.
      var data = google.visualization.arrayToDataTable(mydata);

      var options = {
        curveType: 'none',
        hAxis: {
          title: '{{ uploadfile.xlabel }}',
        },
        vAxis: {
          title: 'Cumulated Faults',
        },
        legend: { position: 'bottom' },
        series: {
          0: { lineWidth: 0, pointSize: 4 },
          1: { lineWidth: 4, pointSize: 0 }
        },
        animation: {
          startup: true,
          duration: 500,
          easing: 'inAndOut'
        }
      };

      var chart = new google.visualization.ScatterChart(document.getElementById('MeanValueChartDiv'));

      chart.draw(data, options);
    }

    function drawIntensityChart() {
      // Django からカンマ区切り文字列データを受け取る
      var jsXData = '{{ uploadfile.xdata }}';
      var jsYData = '{{ uploadfile.dydata }}';
      var jsHData = '{{ uploadfile.intensitydata }}';
      var jsHead = '{{ uploadfile.xlabel }},{{ uploadfile.dylabel }},{{ uploadfile.intensitylabel }}';

      // カンマ区切りの文字列を配列に格納
      var head = jsHead.split(',');
      var xvals = jsXData.split(',').map(str => parseInt(str, 10));
      var yvals = jsYData.split(',').map(str => parseFloat(str));
      var hvals = jsHData.split(',').map(str => parseFloat(str));
      var i;
      // データを作る
      var mydata = [head];
      for (i = 0; i < yvals.length; i++) {
        mydata.push([xvals[i], yvals[i], hvals[i]]);
      }

      // Create the data table.
      var data = google.visualization.arrayToDataTable(mydata);

      var options = {
        curveType: 'none',
        hAxis: {
          title: '{{ uploadfile.xlabel }}',
        },
        vAxis: {
          title: 'Number of Faults',
        },
        legend: { position: 'bottom' },
        seriesType: 'bars',
        series: {1: {type: 'line', lineWidth: 4}},
        animation: {
          startup: true,
          duration: 500,
          easing: 'inAndOut'
        }
      };

      var chart = new google.visualization.ComboChart(document.getElementById('IntensityChartDiv'));

      chart.draw(data, options);
    }


    // onReSizeイベント
    window.onresize = function(){

      drawMeanValueChart();
      drawIntensityChart();

    }
  </script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>


<div class="container-fluid fullheight">
  {% if messages %}
    <div>
      {% for message in messages %}
      <p class="flash_message {{ message.tags }}" onclick="this.classList.add('hidden')">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% block content %}
  {% endblock content %}



  {% block link %}
  {% endblock %}

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>